RAPIDLOG_DB_DSN=postgres://rapidlog:rapidlog@db:5432/rapidlog
RAPIDLOG_HTTP_PORT=8080
RAPIDLOG_IDENTITY_ADDR=identity:50051

IDENTITY_DB_DSN=postgres://rapidlog:rapidlog@db:5432/identity
IDENTITY_GRPC_PORT=50051