RAPIDLOG_APP_NAME=RapidLog

RAPIDLOG_HTTP_PORT=1508

RAPIDLOG_DB_USER=rapidlog
RAPIDLOG_DB_PASSWORD=rapidlog
RAPIDLOG_DB_NAME=rapidlog
RAPIDLOG_DB_DSN=postgres://${RAPIDLOG_DB_USER}:${RAPIDLOG_DB_PASSWORD}@db:5432/${RAPIDLOG_DB_NAME}